@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

// $rowWidth: 1000px;
// $columnGutter: 30px;
// $totalColumns: 12;
// $mobileTotalColumns: 4;
// $blockGridElements: 12; // Highest number of block grid elements, Maximum of 24 supported

// Colors Settings

$mainColor: #4981F7;
$secondaryColor: #A082BF;
// $alertColor: #c60f13;
$successColor: #19B352;
// $txtColor: #222;
// $highlightColor: #ffff99;
// $black: #000;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);

// Font Settings

// $fontSmoothing: antialiased;
$headerFontFamily: 'pf_din_text_comp_pro_lightRg', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $headerFontWeight: bold;
// $headerFontStyle: normal;
// $headerFontColor: #222;
$bodyFontFamily: 'news_706regular', Georgia, serif;
// $bodyFontWeight: normal;
// $bodyFontStyle: normal;
// $bodyFontColor: $txtColor;

// Text Direction Settings

// $textDirection: ltr; // Controls default global text direction, 'rtl' or 'ltr'

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;
// $labelFontWeight: 500;
// $labelFontColor: lighten(#000, 30%);
// $labelBtmMargin: 3px;
// $inputFontColor: rgba(0,0,0,0.75);
// $inputFontSize: 14px;
// $inputBgColor: #fff;
// $inputFocusBgColor: darken(#fff, 2%);
// $inputBorderColor: darken(#fff, 20%);
// $inputFocusBorderColor: darken(#fff, 30%);
// $inputBorderStyle: solid;
// $inputBorderWidth: 1px;
// $inputBorderRadius: 2px;
// $fieldsetBorderRadius: 3px;

// Custom Form Settings

// $custFormBorderColor: #ccc;
// $custFormBgColor: #fff;
// $custCheckColor: #222;
// $custSelectCurrentFontColor: #141414;
// $custSelectBgColor: #fff;
// $custSelectBorderColor: #ddd;
// $custSelectTriangleColor: #aaa;
// $custSelectTriangleColorOpen: #222;
// $custSelectDropHeight: 200px;
// $custDropdownBgColor: #fff;
// $custDropdownBorderColor: darken(#fff, 20%);
// $custDropdownFontColor: #555;
// $custDropdownSelectedBgColor: lighten(#2ba6cb, 40%);
// $custDropdownSelectedFontColor: #000;
// $custFormDisabledBgColor: #ddd;

// Tab Settings

// $tabHeight: 40px;
// $tabTermFontSize: 12px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// Top Bar Settings

// $topBarBgColor: #222;
// $topBarHeight: 45px;
// $topBarHeightMobile: 45px;
// $topBarBtmMargin: 30px;
// $topBarTitleWeight: bold;
// $topBarTitleSize: 17px;
// $topBarLinkColor: #fff;
// $topBarLinkWeight: bold;
// $topBarLinkSize: 13px;
// $topBarDropBgColor: #222;
// $topBarDropLinkColor: #fff;
// $topBarDropToggleSize: 5px;
// $topBarDropToggleColor: #fff;
// $topBarDropToggleAlpha: 0.5;
// $topBarSearchWidth: 200px;
// $topBarBreakPoint: 940px; // Change to 9999px for always mobile layout
// $topBarNavToggleSize: 8px;
// $topBarNavToggleColor: #fff;

// UI Settings

// $thumbRadius: 3px;
// $progBarHeight: 25px;
// $progBarBorderColor: darken(#fff, 20%);
// $progBarBorderSize: 1px;
// $progBarPad: 2px;
// $linkListBottomMargin: 17px -22px;
// $tableBorderRadius: 3px;
// $alertBorderRadius: 3px;

// Tooltip Settings

// $hasTipBorderBottom: dotted 1px #ccc;
// $hasTipFontWeight: bold;
// $hasTipFontColor: #333;
// $hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
// $hasTipFontColorHover: $mainColor;
// $tooltipBackgroundColor: #000;
// $tooltipBackgroundOpacity: 0.85;
// $tooltipFontSize: 12px;
// $tooltipFontWeight: bold;
// $tooltipFontColor: #fff;
// $tapToCloseFontSize: 10;
// $tapToCloseFontWeight: normal;
// $tapToCloseFontColor: #888;
// $tooltipFontSizeScreenSm: 14;
// $tooltipBgOpacityScreenSm: 0.85;
// $tooltipBorderRadius: 4px;

// Pricing Table Settings

// $priceTableBorder: solid 1px #ddd;
// $priceTitleBgColor: #ddd;
// $priceTitlePadding: 15px 20px;
// $priceTitleAlign: center;
// $priceTitleColor: #333;
// $priceTitleWeight: bold;
// $priceTitleSize: 16px;

// $priceMoneyBgColor: #eee;
// $priceMoneyPadding: 15px 20px;
// $priceMoneyAlign: center;
// $priceMoneyColor: #333;
// $priceMoneyWeight: normal;
// $priceMoneySize: 20px;

// $priceBgColor: #fff;
// $priceDescColor: #777;
// $priceDescPadding: 15px;
// $priceDescAlign: center;
// $priceDescFontSize: 12px;
// $priceDescWeight: normal;
// $priceDescLineHeight: 1.4;
// $priceDescBtmBorder: dotted 1px #ddd;

// $priceItemColor: #333;
// $priceItemPadding: 15px;
// $priceItemAlign: center;
// $priceItemFontSize: 14px;
// $priceItemWeight: normal;
// $priceItemBtmBorder: dotted 1px #ddd;

// $priceCtaBgColor: #f5f5f5;
// $priceCtaAlign: center;
// $priceCtaPadding: 20px;

// Orbit Settings

// $orbitCaptionBgColorOldBrowser: #000;
// $orbitCaptionBgColor: rgba(0,0,0,.6);
// $orbitCaptionFontColor: #fff;
// $orbitBulletNavColor: #999;
// $orbitBulletNavColorActive: #222;
// $orbitHasThumbBorderColor: #000;
// $orbitHasThumbBorderWidth: 2px;
// $orbitHasThumbBorderStyle: solid;
// $orbitSlideNumBgColor: rgba(0,0,0,0.7);
// $orbitSlideNumFontColor: #fff;
// $orbitSlideNumPadding: 5px;

// Clearing Settings

// $clearingBg: rgba(0,0,0,0.8);
// $clearingOldBrowserBg: rgb(0,0,0);
// $clearingCaptionBg: rgba(0,0,0,0.7);
// $clearingCaptionOldBrowserBg: rgb(0,0,0);
// $clearingCaptionFontColor: #fff;
// $clearingCloseColor: #fff;
// $clearingArrowColor: #fff;
// $clearingArrowSize: 16px;
// $clearingCarouselBg: rgba(0,0,0,0.75);
// $clearingCarouselOldBrowserBg: rgb(0,0,0);
// $clearingCarouselHeight: 150px;
// $clearingActiveImgHeight: 75%;
// $clearingCarouselThumbWidth: 175px;
// $clearingCarouselThumbActiveBorder: 4px solid rgb(255,255,255);
// $clearingImgBg: rgba(0,0,0,0.75);
// $clearingImgOldBrowserBg: rgb(0,0,0);

// Joyride Settings

// $tipBg: rgba(0,0,0,0.8);
// $tipBgIE8: #000;
// $tipFontColor: #fff;
// $tipHeaderWeight: bold;
// $tipDefaultWidth: 300px;
// $tipBorderRadius: 4px;
// $tipPadding: 18px 20px 24px;
// $tipNubSize: 14px;
// $tipFontSize: 14px;
// $tipTimerWidth: 50px;
// $tipTimerHeight: 3px;
// $tipTimerBorder: solid 1px #555;
// $tipTimerColor: #666;
// $tipCloseColor: #777;
// $tipCloseSize: 20px;
// $tipCloseWeight: normal;
// $tipScreenFill: rgba(0,0,0,0.5);

// Modular Scale Settings

// $ratio: $golden; // THIS IS DEFAULT IN MODULAR-SCALE
// $baseFontSize: 14px;
// $importantModNum: 44px;
// $base-size: $baseFontSize $importantModNum;
// Produced the following list of values: 14, 17, 23, 27, 37, 44, 59, 71, 95, 115;
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale by scottkellum

@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('fonts/parachute_-_pfdintextcomppro-bold-webfont.eot');
    src: url('fonts/parachute_-_pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/parachute_-_pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('fonts/parachute_-_pfdintextcomppro-bold-webfont.ttf') format('truetype'),
         url('fonts/parachute_-_pfdintextcomppro-bold-webfont.svg#pf_din_text_comp_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news_706regular';
    src: url('fonts/news706bt-romanc-webfont.eot');
    src: url('fonts/news706bt-romanc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/news706bt-romanc-webfont.woff') format('woff'),
         url('fonts/news706bt-romanc-webfont.ttf') format('truetype'),
         url('fonts/news706bt-romanc-webfont.svg#news_706regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_pro_lightRg';
    src: url('fonts/parachute_-_pfdintextcomppro-light-webfont.eot');
    src: url('fonts/parachute_-_pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/parachute_-_pfdintextcomppro-light-webfont.woff') format('woff'),
         url('fonts/parachute_-_pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('fonts/parachute_-_pfdintextcomppro-light-webfont.svg#pf_din_text_comp_pro_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.inline-block{
  display:inline-block;
}
.no-list-style{
  list-style:none;
}
h1, h2{
  text-transform: uppercase;
}


.rotate45{
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);

}

.red-highlight{
  background: rgb(227, 49, 0);
  background: rgba(227, 49, 0, 0.8);
  color: white;
}

span.desktop-highlight {
  background: rgb(24, 24, 24);
  background: rgba(24, 24, 24, 0.75);
  color: white;
  font-size: 22px;
  padding: 3px 15px;
}
.blue-topborder{
  border-top: .3em solid;
  border-color: rgb(73, 129, 248);
  border-color: rgba(73, 129, 248, 0.8);
}
.red-topborder{
  border-top: .3em solid;
  border-color: rgb(227, 49, 0);
  border-color: rgba(227, 49, 0, 0.8);
}
.green-topborder{
  border-top: .3em solid;
  border-color: rgb(90, 231, 142);
  border-color: rgba(90, 231, 142, 0.8);
}
.independent{
  margin-top:10% !important;
  margin-bottom:10% !important;
}
.hero{ 
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;    
  h1{
    margin-left: -.2em;
    font-size: 7em;
    margin-bottom: 0em;
    padding: .05em .2em 0em;
    line-height: 1em;
    display: inline-block;
  }
  h3{
    font-size: 4em;
    margin-top: 0em;
    border-bottom: 3px solid;
    border-color: rgb(111, 111, 111);
    border-color: rgba(111, 111, 111, 0.8);
  }
}

.experience{
  h2{
    display: inline-block;
  }
}

.skills{
  .HTML5{
    .meter{
      width:90%;
    }
  }
  .CSS3{
    .meter{
      width:100%;
    }
  }
  .Javascript{
    .meter{
      width:70%;
    }
  }
  .Git{
    .meter{
      width:80%;
    }
  }
  .Backend{ 
    .meter{
      width:60%;
    }
  }
  .Other{
    .meter{
      width:80%;
    }
  }
  .Design{
    .meter{
      width:100%;
    }
  }  
}

.top-nav{
  position: fixed;
  z-index: 1000;
}

.nav,
.nav a{
    font-family: 'pf_din_text_comp_pro_lightRg',  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em; 
    text-decoration: none; }
.nav li{ list-style: none; display: inline-block; padding-right: .5em;}
blockquote p{ border-left: 1px dashed #999;
  padding-left: 1em;}
blockquote {
  margin: 1em 2em;
  padding-left: 1em; }
blockquote p:first-letter,
blockquote li:first-letter
 {
  float: left;
  margin: -.2em .3em .1em 0;
  font-family: "Monotype Corsiva", "Apple Chancery", fantasy;
  font-size: 3em;
  font-weight: bold; }
blockquote p:first-line {
  font-variant: small-caps; font-size: 2em; }
blockquote footer {
  font-size:2em;
  font-style: italic;
  padding-right:8.33%;
}

.bold-header{
  font-family: 'pf_din_text_comp_probold'!important;
}

h1.inline,
h2.inline,
h3.inline,
h4.inline,
h5.inline
{
  display:inline;
}

h3{
  .title{
    font-size: 1.5em;
  }
  .company{
    font-size:1.3em;
  }
}

.dates{
  font-size:1.4em !important;
  margin-top:0em !important;
  opacity: .7 !important;
}

.experience-item{
  margin-bottom:2em;
  p{
    line-height: 1.7em;
  }
}

.education{ 

}

.magel{
  position: absolute;
  padding-left: 3em;
  ul{
    list-style: none;
  }
}
